*{
    margin: 0;
    padding: 0;
  }
  body{
    width: 100%;
    height: 100vh;
  }
  .modal fade{
    background: transparent;
  }
  .todoSectionStyle{
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  ul{
    
    padding-left: 0 !important;
  }
 
  .todo-input{
    background: linear-gradient(135deg, #4298dd, #2c2c91)!important;
    border-radius: 20px !important;
   
  }
  .entered-todos{
    border-radius: 20px !important;
    margin-top: 20px !important;
    background: linear-gradient(135deg, #4298dd, #2c2c91)!important;
   

  }
  @media (max-width: 767px) {
    .thumbnail-size {
       
      max-width: 100px;
      max-height: 100px;
    }
    .modal-dialog{
        position: fixed;
        top: 25%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .container{
        text-align: center;
    }
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#2e78ad,#1f1f7a)!important;
    font-family: 'Roboto',sans-serif;
    color: #2c3e50;
}

.weatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
   
}
.weatherCard{
color: whitesmoke;
  max-width: 470px;
  background: linear-gradient(135deg, #4298dd, #2c2c91);
 max-height: 582px;
    width: 90%;
   margin: auto ;
 text-align: center;
    padding: 50px;
    border-radius: 20px;

}

.locationInputWrap{
   width: 91%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.locationInputWrap input{
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    padding: 2px;
    padding-left: 15px;
    border-radius: 15px;
    flex: 1;
    margin-right: 15px;
    max-width: 290px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.weatherData,.details{
    display: none;
}
.weatherData h1{
    font-size: 80px;
    font-weight: 500;
}
.weatherData h2{
    font-size: 45px;
    font-weight: 500;
    
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}
.weatherData, .details {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.weatherData.show, .details.show {
    display: flex;
    opacity: 1;
  
}
.weatherIcon{
    width: 180px;
   
}
.weatherCol{
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 10px;
}
.weatherCol img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
}
.title{
    font-weight: 500;
    font-size: 30px;margin-top: 30px;
    
    
}
@media only screen and (max-width: 766px) {
    .weatherContainer{
        
        width: 100%;
    }
    
    .weatherCard {
        padding: 30px; 
        max-width: 90%; 
        display: flex;
        /* width: auto; */
    
     
        justify-content: space-around;
        flex-direction: column;

    }
    .locationInputWrap{
        display: flex;
        justify-content: space-between;
    }

   

    .weatherIcon {
        width: 80px; 
    }

    .weatherCol img {
        width: 30px;
    }
    

    .locationInputWrap input {
        padding: 6px; 
        padding-left: 15px;
        border-radius: 15px; 
        width: 90%;
        max-width: 90%;
        font-size: 13px;
        margin-right: 8px;
    }

    .weatherData h1 {
        font-size: 52px;
    }

    .weatherData h2 {
        font-size: 30px;
    }p{
        font-size: 14px;
    }

    .humidity, .wind {
        font-size: 24px; 
    }
}

@media only screen and (max-width: 480px) {
    .weatherCard {
        padding: 30px; 
        width: 90%; 
        display: flex;
       
        justify-content: space-around;
        flex-direction: column;

    }
    p{
        font-size: 12px;
    }
    .locationInputWrap{display: flex;
        justify-content: space-between;
      margin-bottom: 10px;
      width: 100%;
      }

    

    .weatherIcon {
        width: 80px; 
    }

    .weatherCol img {
        width: 30px;
    }


    .locationInputWrap input {
        padding: 6px; 
        padding-left: 20px;
        border-radius: 10px; 
        width: 90%;
        font-size: 13px;
        margin-right: 8px;
    }
    .searchIconWrap {
       
        width: 31.5px;
        height: 31.5px;
      
       
    }

    .weatherData h1 {
        font-size: 40px;
        margin-top: -5px;
    }

    .weatherData h2 {
        font-size: 27px;
    }

    .humidity, .wind {
        font-size: 20px; 
    }
}
.weatherIconWrap{
  display: flex;
}
 .navbar container-fluid{
    background-color: red !important;
 }
 .searchIconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 31px;
    height: 31px;
    color: gray;
    border-radius: 50%;
    cursor: pointer;
    
}
.title{
    color: #f4f4f4;
}
.arrow{
    font-size: 20px !important;
}